<div class="parent">
    <div class="child">
        <div class="t">
            <label for="">Name :</label>
            <input type="text" [(ngModel)]="name">
        </div>
        <div class="y">
            <label for="">Price :</label>
            <input type="number" [(ngModel)]="price">
        </div>
        <div class="u">
            <label for="">Rating :</label>
            <input type="number" [(ngModel)]="rating">
        </div>
        <button (click)="cart()">Add To Cart</button>
    </div>
    <h3 (click)="cart()">Cart Items</h3>
    <table>
        <thead>
            <tr>
                <th >Name</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of items" > 
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.rating}}</td>
        
        </tr>   
        </tbody>
    </table>

</div>