body {
    margin: 0;
}

.parent {
    /* width: 100vw; */
    height: 100vh;
    background-color: white;
    /* overflow: auto; */
    display: flex;

    
}
/* .down { */
    /* width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
} */
.left {
    width: 20%;
    height: 100%;
    background-color: white;
    font-size: large;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px gray;
    /* position: sticky; */
    /* top: 0;
    bottom: 0; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.right1{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    overflow: auto;
    gap: 25px;

   
}
.pr{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end; 
}
.pics{
    height: 350px;
    width: 200px;
    /* background-color: gray; */
    box-shadow: 0px 0px 5px gray;
    text-transform: capitalize;
    
}
.pics>button{
    position: relative;
    top: -35px;
    width: 100px;

}

/* .right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
   
    
}
/* .p0{
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 2;
  
} */

/* .im1{
    position: relative;

} */
/* button {
    position: absolute;
    bottom: 10px;
    left: 10px;
} */
/* .OFF{
    transform: rotate(-90deg);
    background-color: gray;
    color: white;
    position: fixed;
    right:-15px;
    bottom: 155px;
    z-index: 2;

    
} */
/* .p1{
    height: 300px;
    width: 300px;
}
.p1 img{ */
    /* width: 150px; */
    /* width: 100%;
    height: 200px;
}
h1{
    text-align: center;
} */ 