<div class="parent">
    <div class="left">
        <h1>FILTERS</h1>

        <div>
            <h2>CATEGORIES</h2>
            <input  type="checkbox" (click)="mens()"  name="category">
            <label for="">men's clothing</label>
            <br>
            <input type="checkbox" (click)="jewelery()" name="category">
            <label for="">jewelery</label><br>
            <input type="checkbox" (click)="electronics()" name="category">
            <label for="">electronics</label>
            <br>
            <input type="checkbox" (click)="womens()" name="category">
            <label for="">women's clothing</label>
            
        </div>
        <div class="PRICE">
            <h2>PRICE</h2>
            <input type="checkbox" (click)="s7to50()">
            <label for="">Rs.7 to Rs.50</label>
            <br>
            <input type="checkbox" (click)="f50to300()">
            <label for="">Rs.50 to Rs.300</label>
            <br>
            <input type="checkbox" (click)="t300to600()">
            <label for="">Rs.300 to Rs.600</label>
            <br>
            <input type="checkbox" (click)="r600to1000()">
            <label for="">Rs.600 to Rs.1000</label>
            
        </div>
    </div>
    <div class="right1">
        <div class="pr">
            <label for="">Price Range</label>
            <select name="" id="" (change)="sort($event)" >
                <option value="all">All</option>
                <option  value="ltoh">Low To High</option>
                <option value="htol">High To Low</option>
            </select>
        </div>
        <div class="pics" *ngFor="let product of products">
            
            <img src="{{product.image}}" alt="" width="200px" height="180px">
            <button>{{product.rating.rate}} &#9733; | {{product.rating.count}}</button>
            <h3>{{product.category}}</h3>
            <p>{{product.title}}</p>
            <p><b>Rs.{{product.price}}</b> <small><span style="text-decoration: line-through;">Rs.2999</span></small><span style="color: red;">(81% OFF)</span></p>
        </div>
    </div>
</div>