<div>
    
    <form action="">
        <h1>Create Vehicle Form </h1>
        <label for="">Vehicle: </label>
        <input type="text"><br>
        <label for="">Manufacturer: </label>
        <input type="text"><br>
        <label for="">Model </label>
        <input type="text"><br>
        <label for="">Type: </label>
        <input type="text"><br>
        <label for="">Fuel: </label>
        <input type="text"><br>
        <label for="">Color: </label>
        <input type="text"><br>
        <label for="">Image: </label>
        <input type="text"><br>
        <label for="">Cost: </label>
        <input type="text"><br>
        
        <button>Create</button>

    </form>
</div>