<div class="parent">
    <div class="top">
        <a href="">gmail</a>
        <a href="">images</a>
        <img src="/assets/ghome.png" alt="" width="30px" height="30px">
        <button>sign in</button>
    </div>
    <div class="middle">
        <img src="/assets/ghome2.jpg" alt="" width="200px" height="200px">
        <input type="text" [(ngModel)]="text">
        <div>
            <button >google search</button>
            <button>I'am feeling lucky</button>
        </div>
        <div class="lan">
            <p>google offered in :</p>
            <a href="">हिंदी </a>
            <a href="">বাংলা</a>
            <a href="">मराठी</a>
            <a href="">తెలుగు</a>
            <a href="">தமிழ்</a>
            <a href="">ગુજરાતી</a>
            <a href=""> ಕನ್ನಡ</a>
            <a href="">മലയാളം</a>
        </div> 

    </div>
    <div class="bottom">
        <div class="b1">
            <h3>India</h3>
            <hr>
        </div>
        <div class="b2">
            <div class="b21">
                <p>about</p>
                <p>advertising</p>
                <p>business</p>
                <p>how search works</p>
            </div>
            <div class="b22">
                <p>privacy</p>
                <p>terms</p>
                <p>setting</p>

            </div>

        </div>

    </div>

</div>
