<div class="parent">
    <div class="top">
        <h1>Employees Database</h1>
        <form action="">
            <h2>Employee's Registration</h2>
            <div class="t1">
                <label for="">Employee id:</label>
                <input type="number" (keyp)="search(item)" placeholder="search id" [(ngModel)]="item">
                <label for="">Employee Name:</label>
                <input type="text" [(ngModel)]="newemployee.EmpName" >
                <label for="">Role:</label>
                <input type="text" [(ngModel)]="newemployee.Role">
            </div>
            <div class="t2">
                <label for="">Joining Date:</label>
                <input type="date" [(ngModel)]="newemployee.JoiningDate">
                <label for="">Phone:</label>
                <input type="number" [(ngModel)]="newemployee.PhoneNo">
                <label for="">Email:</label>
                <input type="email" [(ngModel)]="newemployee.Email">
                <label for="">DOB:</label>
                <input type="date">
            </div>
            <div class="t3">
                <label for="">Gender: </label>
                <input type="radio" [(ngModel)]="newemployee.Gender">
                <label for="">Male</label>
                <input type="radio" [(ngModel)]="newemployee.Gender">
                <label for="">Female</label>
                <label for="">Address</label>
                <textarea name="" id=""></textarea >
            </div>
            <div class="t4">
                <button (click)="register()">Register</button>
                <button (click)="clear()">Clear</button>
            </div>            
        </form>
        <h2 id="op">Employees Details</h2>        
    </div>
    <div class="bottom">
        <table>
            <thead>
                <th>S.No</th>
                <th>Emp_Id</th>
                <th>Emp_Name</th>
                <th>Role</th>
                <th>Joining Date</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>D.O.B</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees;let i=index">

                    <td>{{i+1}}</td>
                    <td>{{employee.Empid}}</td>
                    <td>{{employee.EmpName}}</td>
                    <td>{{employee.Role}}</td>
                    <td>{{employee.JoiningDate | date}}</td>
                    <td>{{employee.PhoneNo}}</td>
                    <td>{{employee.Email}}</td>
                    <td>{{employee.DOB | date}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.Address}}</td>
                    <!-- <td>{{Action}}</td> -->
                    <td>
                        <button (click)="delete(i)" >Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>