<div class="parent">
    <div class="child">
        <div class="top">
            <h1>My Apps</h1>
        </div>
        <div class="bottom">
            <div class="right">
                <h2>wish</h2>
                <div class="time">
                    <label for="">time</label>
                    <input type="number">
                </div>
                <button>wish</button>
                <h2>Result : xxxxxx</h2>
            </div>
            <div class="left">
                <h2>grade check</h2>
                <div class="mark">
                    <label for="">marks</label>
                    <input type="number">
                </div>
                <button>culculate</button>
                <h2>xxxxxx</h2>

            </div>

        </div>
        

    </div>

</div>